{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 100,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "bracketSpacing": true,
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.css",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "singleQuote": true,
        "trailingComma": "all"
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}

